* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body {
    position:relative;
}
/** Navigacija **/
nav {
    background-color: #db6936;
    position: absolute;
    top: 0;
    width: 100%;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    margin: 5px auto;
    max-width: 700px;
}

nav a{
    display:block;
    text-align:center;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    text-shadow: .5px .5px grey;
    font-family: MyriadPro-Regular;
}

nav a:hover{
    background-color:white;
    color: #db6936;
}

.dropdownimg {
    height: 20px;
    float: right;
    margin-left: 5px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    min-width: 170px;
    z-index: 1;
}

.dropdown-content a {
    text-align: left;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid lightgrey;
}

.dropdown-content a:hover {
    background-color: #db6936;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/** Headeris **/
header {
    padding-top: 80px;
    padding-bottom: 60px;
}

header .container {
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 850px;
}
header .container .logo img {
    width: 100%;
    height: auto;
}
.info {
    flex-basis: 70%;
}
.info h1 {
    text-align: center;
    font-size: 20px;
    color:#db6936;
    font-family: MyriadPro-Regular;
    font-style: italic;
    padding: 10px 0;
}
.info p {
    font-family: Arial;
    font-size: 14px;
    color: grey;
    padding: 0 30px;
}
.h-btns{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 350px;
    margin: 0 auto;
}
.h-btn{
    display:flex;
    max-width: 190px;
    border: 1px solid #db6936;
    margin: 10px 0;
}
.h-btn img {
    padding: 6px;
}
.h-btn p{
    background-color: #db6936;
    color: white;
    flex-basis: 100%;
    text-align:center;
    font-size:14px;
    padding: 6px;
}
/** Main **/

.main-container{
    display:flex;
    background-color: #ffbfa2;
    max-width: 1000px;
    margin: 0 auto;
}
.main-navigation{
    flex-basis:30%;
}
.main-navigation .header{
    text-align:center;
    background-color: lightgrey;
    color:#686464;
    font-size: 20px;
    padding: 15px 10px;
}
.main-navigation .main {
    display:flex;
    flex-direction: column;
}
.main-navigation .main .navbar{
    padding: 5px 15px;
    min-width: 270px;
    width: 100%;
    box-sizing:border-box;
}

.navbar .item{
    min-height: 40px;
    background-color:#db6936;
    margin: 10px 0;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.navbar .item .text {
    color:white;
    line-height: 40px;
    font-size: 14px;
}
.navbar .item .text img {
    display:block;
    float:left;
    padding: 10px;
}

.item1 {
    height: 40px;
    background-color:white;
    margin: 10px 0;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.item1 .logo{
    min-width:30%;
    float:left;
    background-color: #db6936;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar .item1 .logo img {
    margin: auto;
}

.navbar .item1 .text {
    line-height: 40px;
    padding-left: 32%;
    color: #db6936;
}
.navbar .item2{
    min-height: 40px;
    background-color:white;
    margin: 5px 0;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.navbar .item2 .text {
    color:#db6936;
    line-height: 40px;
    font-size: 14px;
    padding: 0 10px;
    float:left;
}
.navbar .item2 .text span {
    color: black;
}
.navbar .item2 .rate {
    float:right;
    line-height:40px;
    margin-right: 10px;
}

.main-content{
    flex-basis:70%;
}

/* Screen sizes */
@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        max-width: 350px;
    }
    header {
        padding-top: 220px;
    }
    .container {
        flex-direction: column;
    }
    .logo {
        margin: auto;
    }
    .main-container {
        flex-direction: column;
    }
    .main-navigation .main {
        flex-direction: row;
    }
}